.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}


h1, h2 {
  margin: 2.5rem 0 1rem;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-weight: var(--font-weight-heading);
  margin: 1.5rem 0 1rem;
}

.references {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  margin-left:24.0pt;text-indent:-24.0pt;
}

//
// Breadcrumbs
// --------------------------------------------------

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}


/* ==== TILES ====*/

.flex {
  display: table;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-grow-1 {
  -webkit-flex: 1 1;
  -webkit-box-flex: 0;
  -ms-flex: 1 1;
  flex: 1 1;
}

.flex-grow-150 {
  -webkit-flex: 1 150px;
  -webkit-box-flex: 0;
  -ms-flex: 1 150px;
  flex: 1 150px;
}

.flex-grow-100 {
  -webkit-flex: 1 100px;
  -webkit-box-flex: 0;
  -ms-flex: 1 100px;
  flex: 1 100px;
}

.flex-grow-200 {
  -webkit-flex: 1 200px !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 1 200px !important;
  flex: 1 150px !important;
}

.flex-grow-300 {
  -webkit-flex: 1 300px;
  -webkit-box-flex: 0;
  -ms-flex: 1 300px;
  flex: 1 300px;
}

/*===== CARD =====*/
.card {
  margin: 10px 0 !important;
  background: #eee !important;
  border-radius: 0;
  border-color: #eee;
}

.tiles .container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.tiles .flex .p-2 {
  display: flex;
  border-radius: 7px;
  background: #4fb1ba;
  margin: 7px;
  padding: 20px 20px !important;
  min-height: 50px;
  text-align: justify;
  flex-flow: column nowrap;
}

#about.tiles .flex .p-2 {
  background: #193747;
  color: white;
}


//.tiles .flex .p-2:hover {
//  background: #222 !important;
//  cursor: pointer;
//}

.tiles .flex .p-2 p {
  margin: 0;
  color: white;
  line-height: normal;
  padding-top: 10px;
  font-size: .83em;
}

.tiles .flex .p-2  ul {
  //margin: 0;
  color: white;
  line-height: normal;
  font-size: .83em;
}

.tiles .flex .p-2 h4 {
  margin: 0;
  //margin-bottom: 1rem;
}
.tiles .flex .p-2 .read-more {
  margin-top: auto;
  margin-bottom:0;
  text-align: right;
  color:white;
  font-size: .83em;
}

@media (max-width: 575px) {
  .tiles .flex .p-2 {
    -webkit-flex: 1 150px;
    -webkit-box-flex: 0;
    -ms-flex: 1 150px;
    flex: 1 150px;
  }
}

